header {
  display: block;
  position: relative;
  width: 100%;
  background: #6cc3f5;
  color: white;
  height: 70px;
}

.logo {
  position: absolute;
  top: 30%;
  left: 15px;
}

.container-fluid {
  line-height: 34px;
  margin: 15px;
}
.MyNav {
  margin: 0;
  padding: 0;
}

.MyNav {
  position: absolute;
  top: 30%;
  right: 15px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 35px;
}
li :last-child {
  margin: 0;
}

.mya {
  font-size: 1.1em;
  line-height: normal;
  color: #0a0a0a;
  text-decoration: none;
}

.mya:hover {
  color: #eff4f8;
  text-decoration: underline;
}

.MyFooter_N {
  position: absolute;
  bottom: 20%;
  right: 15px;
}

.subs {
  font-size: 1.5em;
  text-shadow: #0a0a0a 1px 1px;
  text-align: center;
}

.email {
  background: transparent;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 2px 2px rgb(0, 0, 5);
  margin-right: 15px;
}
